<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="container-fluid">
        <div *ngFor="let message of messages" class="row">
          <div class="col m-2">
            <div [ngClass]="{'float-right' : message.sender_id == user_id}">
              <img *ngIf="message.sender_id != user_id" src="{{message.thumbnail}}" class="rounded-circle mr-1" style="max-height: 35px;">
              <div class="d-inline rounded-pill p-2" style="background-color:dodgerblue; color: white">
                {{message.text}}
              </div>
              <img *ngIf="message.sender_id == user_id" src="{{message.thumbnail}}" class="rounded-circle ml-1" style="max-height: 35px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Type a message">
          </div>
          <div class="col-1">
            <i class="material-icons">send</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>