<div class="container-fluid p-2">
  <div class="row">
    <div class="col p-2">
      <img src="{{contact.thumbnail}}" class="img-fluid rounded-circle">
    </div>
  </div>
  <div class="row">
    <div class="col h3">
        {{contact.name}}
    </div>
  </div>
  <div class="row">
    <div class="col text-muted">
      {{contact.status}}
    </div>
  </div>
  <div class="row mt-3">
    <div class="col h4 font-weight-bold">
      About:
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{contact.about}}
    </div>
  </div>

</div>