<div class="container-fluid">
  <div *ngFor="let contact of contacts" class="row border-bottom" (click)="mobile_toggle = !mobile_toggle">
    <div class="col">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3 p-2">
            <img src="{{contact.thumbnail}}" class="img-fluid rounded-circle">
          </div>
          <div class="col-9 p-2">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <div class="d-inline h6">{{contact.name}}</div>
                  <div class="d-inline float-right text-muted">{{contact.time}}</div>
                </div>
              </div>
              <div class="row text-truncate text-muted">
                <div class="col">
                  {{contact.last_message}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>