.pageContainer {
    background-image: url('../../../assets/togetherness.jpg');
    background-repeat: no-repeat;
    opacity: 0.8;
    background-size: 100%;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

.headerInnerContainer div {
    font-size: 10px;
    margin: 10px!important;
    cursor: pointer;
}

.headerInnerContainer {
    flex: 0 1 auto;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    padding: 10px;
}

.userName {
    flex: 0 0 auto;
}

.homeLogo {
    margin: 10px;
    padding: 20px 20px 20px 100px;
    font-size: 16px;
    flex: 0 0 auto;
    justify-content: flex-end;
}

.main-container {
    margin: 1px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.main-container > .sideContainer {
    flex: 0 0 40%;
    text-align: center;
    height: 500px;
    color: #fff;
    margin-top: 20%;
}

.imgContainer {
    flex: 0 0 auto;
    margin-top: 10px;
    border: 3px solid #66dcba;
    border-radius: 10px;
    text-align: center;
    height: 500px;
    background-color: #fff;
    display: none;
    
}

.sz-U {
 font-size: 26px;
 margin: 2px;
}

.sz-D {
    font-size: 26px;
    margin: 2px;
}

.sz-I {
    font-size: 10px;
    margin: 4px;
}

.get-started-btn {
    border-radius: 40px;
    width: 100px;
    color: white;
    background-color: #03a9f4;
    font-size: 10px;
    height: 30px;
    margin-top: 25px;
    border: 1px solid #03a9f4;
}
